.intro__list {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 11.98%;
    list-style-type: none;
    padding-left: 0;
}

@media (max-width:320px) {
    .intro__list {
        padding-bottom: 15%;
    }
}