    .footer__container {
        padding-right: 18px;
    }
    
    @media (min-width:320px) and (max-width:767px) {
        .footer__container {
            padding-right: 0;
            padding-bottom: 32px;
        }
    }