@import url(./__item/photo-grid__item.css);
.photo-grid{
        margin: 0 auto;
        display: grid;
        width: 92.5%;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        grid-template-rows: auto;
    }
