.footer__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    padding: 0;
}

@media (max-width:768px) {
    .footer__links {
        width: 68%;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .footer__links {
        flex-direction: column;
    }
}