@import url(./_selected/header__lang-link_selected.css);
@import url(./_no-selected/header__lang-link_no-selected.css);
.header__lang-link {
    font-size: 1.5em;
    line-height: 1.6em;
    color: white;
    max-height: 28px;
    margin-top: 2%;
}

@media(max-width:320px) {
    .header__lang-link {
        font-size: 1.259em;
        right: 10%;
    }
    .header__lang-link_no-selected {
        left: 14.5%;
    }
}