.lead__title {
    text-align: center;
    max-width: 77.313%;
    margin: 0 auto;
    font-size: 6em;
    font-weight: 900;
    line-height: 1.0416em;
}

@media (max-width:1024px) {
    .lead__title {
        max-width: 81.313%;
    }
}

@media (max-width:768px) {
    .lead__title {
        max-width: 87.313%;
    }
}

@media (max-width:320px) {
    .lead__title {
        max-width: 92.313%;
        font-size: 2.5em;
    }
}