@keyframes rotation {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(345deg);
    }
}

.rotation {
    overflow: hidden;
    -webkit-animation: rotation 20s linear infinite;
    animation: rotation 20s infinite linear;
    z-index: 0;
}