.footer__coopyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    padding-left: 47%;
    padding-top: 1.5%;
}

@media (max-width:1024px) {
    .footer__coopyright {
        padding-left: 41%;
    }
}

@media (max-width:768px) {
    .footer__coopyright {
        padding-left: 9%;
        padding-top: 2.5%;
    }
}

@media (max-width:320px) {
    .footer__coopyright {
        line-height: 14px;
        padding: 0;
    }
}