.footer__coopyright {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    padding-left: 44%;
    padding-top: 1.5%;
}

@media (max-width:1024px) {
    .footer__coopyright {
        padding-left: 41%;
    }
}

@media (max-width:768px) {
    .footer__coopyright {
        font-size: 0.8em;
        padding-left: 30%;
        padding-top: 3%;
    }
}

@media (max-width:320px) {
    .footer__coopyright {
        font-size: 0.7em;
        padding-left: 0%;
    }
}