.place__url-heading {
    grid-area: url;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    grid-row: 2;
}

@media (max-width:768px) {
    .place__url-heading {
        padding-left: 2.5%;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .place__url-heading {
        display: none;
    }
}