.place__website {
    grid-area: link;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 7%;
    padding-bottom: 6%;
}

.place__website:hover {
    opacity: 0.8;
}

@media (max-width:768px) {
    .place__website {
        padding-left: 2.5%;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .place__website {
        display: none;
    }
}