    .footer__column-link {
        color: white;
        margin-bottom: 16px;
        line-height: 30px;
        font-size: 18px;
        padding: 0;
        text-decoration: none;
    }
    
    .footer__column-link:hover {
        opacity: 0.4;
        transition: opacity linear 0.2s;
    }